@tailwind base;
@tailwind components;
@tailwind utilities;

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

/* Project Form */
.form {
  @apply flex-col w-full lg:pt-24 pt-12 gap-10 text-lg max-w-5xl mx-auto;
}

.form_image-container {
  @apply w-full lg:min-h-[400px] min-h-[200px] relative;
}

.form_image-input {
  @apply absolute z-30 w-full opacity-0 h-full cursor-pointer;
}

/* Modal */
.modal {
  @apply fixed z-10 left-0 right-0 top-0 bottom-0 mx-auto bg-black/80;
}

.modal_wrapper {
  @apply flex justify-start items-center flex-col absolute h-[95%] w-full bottom-0 bg-backgroundlight rounded-t-3xl lg:px-40 px-8 pt-14 pb-72 overflow-auto;
}

/* Form Field */
.form_field-input {
  @apply w-full outline-0 bg-gray3 rounded-xl p-4;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-background
}

@layer base {
  .table-text {
    @apply border-b-2 border-gray3 px-4 py-2 text-gray1;
  }

  .table-header {
    @apply border-b-2 border-gray3 px-4 py-2 text-gray1 font-medium text-left;
  }
}

.rbc-header {
  @apply border-none !important;
}

.rbc-time-view {
  @apply border-none !important;
}

.rbc-today {
  @apply bg-gray4 !important;
}

.rbc-time-content {
  @apply border-gray2 !important;
}

.rbc-time-slot{
  @apply border-gray3 !important;
}

.rbc-toolbar button {
  @apply text-gray1 border-gray3 !important;
}

.rbc-toolbar button.rbc-active {
  @apply bg-secondarygreen !important;
}

.rbc-toolbar button:hover{
  @apply bg-gray4 !important;
}

.rbc-toolbar button:active{
  @apply bg-secondarygreen !important;
}

.rbc-toolbar button:focus{
  @apply bg-secondarygreen !important;
}

.rbc-row{
  @apply border-none !important;
}

.rbc-time-content > * + * > * {
  border-left: 1.5px solid #E4E6EB !important; 
}

.rbc-toolbar{
  @apply mb-5 !important;
}

.rbc-event{
  @apply bg-secondarygreen border-secondarygreen !important;
}

.rbc-event-content{
  @apply pt-2 leading-6 !important;
}
